@import url(http://fonts.googleapis.com/css?family=Roboto);

@font-face {
    font-family: 'helveticaltstd_light';
    src: url('../fonts/helveticaltstd-light.eot');
    src: url('../fonts/helveticaltstd-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaltstd-light.woff') format('woff'),
         url('../fonts/helveticaltstd-light.ttf') format('truetype'),
         url('../fonts/helveticaltstd-light.svg#sparhawk_fillregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sparhawk_fillregular';
    src: url('../fonts/sparhawk-fill-webfont.eot');
    src: url('../fonts/sparhawk-fill-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sparhawk-fill-webfont.woff') format('woff'),
         url('../fonts/sparhawk-fill-webfont.ttf') format('truetype'),
         url('../fonts/sparhawk-fill-webfont.svg#sparhawk_fillregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriadpro-regular_0.eot');
    src: url('../fonts/myriadpro-regular_0.eot') format('embedded-opentype'),
         url('../fonts/myriadpro-regular_0.woff2') format('woff2'),
         url('../fonts/myriadpro-regular_0.woff') format('woff'),
         url('../fonts/myriadpro-regular_0.ttf') format('truetype'),
         url('../fonts/myriadpro-regular_0.svg#MyriadProRegular') format('svg');
}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../font/opensans-semibold.eot');
    src: url('../font/opensans-semibold.eot') format('embedded-opentype'),
         url('../font/opensans-semibold.woff2') format('woff2'),
         url('../font/opensans-semibold.woff') format('woff'),
         url('../font/opensans-semibold.ttf') format('truetype'),
         url('../font/opensans-semibold.svg#OpenSansSemibold') format('svg');
}
@font-face {
    font-family: 'MyriadProBoldCondensed';
    src: url('../fonts/myriadpro-boldcond.eot');
    src: url('../fonts/myriadpro-boldcond.eot') format('embedded-opentype'),
         url('../fonts/myriadpro-boldcond.woff2') format('woff2'),
         url('../fonts/myriadpro-boldcond.woff') format('woff'),
         url('../fonts/myriadpro-boldcond.ttf') format('truetype'),
         url('../fonts/myriadpro-boldcond.svg#MyriadProBoldCondensed') format('svg');
}
@font-face {
    font-family: 'droid_sansregular';
    src: url('../fonts/droidsans-webfont.eot');
    src: url('../fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidsans-webfont.woff2') format('woff2'),
         url('../fonts/droidsans-webfont.woff') format('woff'),
         url('../fonts/droidsans-webfont.ttf') format('truetype'),
         url('../fonts/droidsans-webfont.svg#droid_sansregular') format('svg');
    font-weight: bold;
}


/* Reset ================================================================================= */
.entry-content h1, .entry-summary h1, .page-content h1, .comment-content h1 {margin: 0px; padding: 0px;}
.entry-content h2, .entry-summary h2, .page-content h2, .comment-content h2 {margin: 0px; padding: 0px;}
.entry-content h3, .entry-summary h3, .page-content h3, .comment-content h3 {margin: 0px; padding: 0px;}
.entry-content h4, .entry-summary h4, .page-content h4, .comment-content h4 {margin: 0px; padding: 0px;}
.entry-content h5, .entry-summary h5, .page-content h5, .comment-content h5 {margin: 0px; padding: 0px;}
.entry-content h6, .entry-summary h6, .page-content h6, .comment-content h6 {margin: 0px; padding: 0px;}


.wrapper3 .btn {

    font-size: 27px;
	}
.wrapper3 h4{font-size:22px;}
.midd h4{margin:10px;font-size: 18px;}
.bnntmore:hover {
    background: #428bca !important;
    color: #fff !important;
    border: none !important;
}
.wrapper6 .midd{padding:10px 0px;}









.carousel-indicators .active {
    width: 15px !important;
    height: 15px !important;
    margin: 0;
    background-color: #211F1F !important;
}
.carousel-indicators li {
    width: 15px !important;
    height: 15px !important;
   
    background-color: #fff !important;;}
*{ margin:0; padding:0; }

html { min-height:100%; position:relative;}
body    { font-family: 'Open Sans', sans-serif; min-height:100%; }
img { border: 0; max-width: 100%; vertical-align:top; }
.zoomdiv img { max-width:none !important;}
a{
	color:#f2663a; 
	text-decoration:none; 
	transition:			color 0ms ease-in-out 0s, background-color 0ms ease-in-out 0s;
	-moz-transition:	color 0ms ease-in-out 0s, background-color 0ms ease-in-out 0s;
	-webkit-transition:	color 0ms ease-in-out 0s, background-color 0ms ease-in-out 0s;
	-o-transition:		color 0ms ease-in-out 0s, background-color 0ms ease-in-out 0s;
}
a:hover       { 

	text-decoration: underline; 
	transition-duration:			0ms;
	-moz-transition-duration:		0ms;
	-webkit-transition-duration:	0ms;
	-o-transition-duration:			0ms;
}
:focus        { outline:0; }



/* Headings */
h1,h2,h3,
h4,h5,h6      { padding:0px; margin:0px;}


.valign_b {vertical-align:bottom}
.valign_t {vertical-align:top}
.text_align_c {text-align:center}
.text_align_r {text-align:right}
.text_align_l {text-align: left}

.float_l{float:left}
.float_r{float:right}

.clear{ clear:both}
.overflow_h{ overflow:hidden}

img{ border:0px;}


ul, li, dl, dt, dd { padding:0px; margin:0px; list-style:none;}

/* Ovewrite bootstrap */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
-webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}


/*************************/

.cd-container {width:90%;max-width:768px;margin:2em auto;}
.cd-container::after {
/* clearfix */content:'';display:table;clear:both;}
.cd-top {display:inline-block;height:40px;width:40px;position:fixed;bottom:40px;right:10px;box-shadow:0 0 10px rgba(0, 0, 0, 0.05);overflow:hidden;text-indent:100%;white-space:nowrap;background:rgba(232, 98, 86, 0.9) url(../images/cd-top-arrow.svg) no-repeat center 50%;visibility:hidden;opacity:0;-webkit-transition:opacity .3s 0s, visibility 0s .3s;-moz-transition:opacity .3s 0s, visibility 0s .3s;transition:opacity .3s 0s, visibility 0s .3s;}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {-webkit-transition:opacity .3s 0s, visibility 0s 0s;-moz-transition:opacity .3s 0s, visibility 0s 0s;transition:opacity .3s 0s, visibility 0s 0s;}
.cd-top.cd-is-visible {visibility: visible;opacity: 1;}
.cd-top.cd-fade-out {opacity:.5;}
.no-touch .cd-top:hover {background-color:#e86256;opacity:1;}
.wrapper8  .bx-controls-direction{display:none !important;}

.box {
    position: relative;
    width: 70px;
}
.search {   
    max-width:0;
    padding: 5px;
    transition: all .5s ease;
    position:absolute;
     top: 65px;
    right: 0px;
    box-sizing:border-box;
    opacity:0;
}
.search.expanded {
    max-width: 401px;
    opacity: 1;
    position: absolute;
    top: 65px;
    right: 0px;
    z-index: 9999;
    width: 435px;
    height: 48px;
}
.icon {
    background: #d71635;
    position: absolute;
    right: 0;
        padding: 22px 24px;
	cursor:pointer
}
.icon span{    font-size: 22px;
    color: #fff;}
.wrapper1 a{color:#000; text-decoration:none}
.wrapper1 .txt{text-transform:uppercase;}
@media only screen and (min-width: 768px) {
.cd-top {right:20px;bottom:20px;}}
@media only screen and (min-width: 1024px) {
.cd-top {height:60px;width:60px;right:30px;bottom:30px;}
}

/* Lists */
ul,ol{ list-style:none; }

/* Tools */

/* ======================================================================================= */


/* Layout ================================================================================ */

.img_slider img{width:100%;}
.wrapper1{ background:#eaeff3;}

.txt{float:left; padding:10px;font-size: 14px;}
.tect{float:right; width:100%;}
.spnn{color:#ff9933;}
.social {padding:12px 0px 0px;}

.social a img { padding:0px 11px;}


.wrapper2{background:#ffca08; border-bottom: 0px solid #ff9933;}
#wrapper3{background:
url(../images/slider1.png) no-repeat top center; background-size:cover; height:500px}
#wrapper6{background:url(../images/slider1.png) no-repeat top center; background-size:cover; height:500px}

.navbar-brand img{margin_top:-50px !important;}
.navbar-nav > li{color:#000!important; font-size:14px;padding:0;margin-top:0px; font-weight:600;font-family: 'Open Sans', sans-serif;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{ background:#d71635!important; color:#fff!important; }
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {margin-top: -46px!important;}
.navbar-default {background-color: #ffca08 !important;border-color: #ffca08 !important;margin:0px !important; border:none}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{background:#d71635; color:#FFF;}
.navbar-nav > li > a{line-height:24px; border-right:1px solid #ffca08}
.serch{background:#d71635}
.navbar-nav.navbar-right { margin-right: 0px;background: #ffe06e; }
.navbar-default .navbar-nav>li>a {
    color: #000;
}
.wrapper3{text-align:center;}
.wrapper3 h1{    font-size: 70px;
    weight: bold;
    font-weight: bold;}
.bnnt{background: #44aa0c;color: #fff;padding: 10px 33px;border-radius:0px;margin-top: 20px;border:none !important;}
.wrapper5{background:#ee8b33;padding: 55px 0px;}
.wrapper5 .midd{color:#fff; text-align:center;}
.wrapper5 .midd img{margin:0 auto;}
.carousel-control.left{  box-shadow:none;}
.carousel-control.right{  box-shadow:none;}
.midd p{min-height:40px;color: #fecfa5;font-size: 14px;}
.bnntmore{background:#fff !important;
color:#666666 !important;
border:none !important;    padding: 12px 25px; border-radius:0px;}
.wrapper6 h2{color:#000; text-align:center;padding: 12px;    font-size: 50px; font-weight:bold; font-family: 'MyriadProBoldCondensed'; text-transform:uppercase;}
.wrapper6 p{color:#000; text-align:center; font-weight:400}
.wrapper6{background:#ffca08;padding: 20px 0px;}
.wrapper6 h4 {color:#d71635;    font-size: 18px; font-weight:400}
.wrapper6 .midd{color:#fff; text-align:center;}
.wrapper6 .midd img{margin:0 auto;}
.wrapper7{background:#eaeff3;padding:0px 0px 20px; position:relative}
.top_marg{background:#2b2b2b; position:absolute; top:0%; left:0; right:0; padding:42px 0px}
#wrapper13{padding:20px 0px;}
#wrapper13 h2{color:#000; text-align:center;padding: 12px;    font-size: 50px; font-weight:bold; font-family: 'MyriadProBoldCondensed'; text-transform:uppercase;}
.panel-heading{border-radius:0px;}
.panel-group .panel{border-radius:0px;}
.panel-default>.panel-heading{background:#fff;}
.panel-group .panel-heading+.panel-collapse>.panel-body{border-top:0px;}
.panel-default {
    border-color: #ddd;
    margin-bottom: 20px !important;
}

.wrapper7 .nav-tabs > li > a { /*   padding: 19px 127px !important;*/
    font-size: 22px;color: #fff;text-align: center; 
}
.wrapper7 .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {   /* padding: 19px 116px !important;*/
    font-size: 18px; background:url(../images/awr.png) no-repeat center bottom;
}


.wrapper7 h3{ color:#fff;  text-align:center;padding: 20px;font-size: 33px; font-weight:600;letter-spacing: 0px;}
.nav-tabs>li{text-transform:uppercase}

.wrapper7 .nav-tabs > li > a{font-size:17px; color:#c0c0c0; font-weight:600;}
.wrapper7 h5{background:#2b2b2b; color:#fff; font-size:34px;  text-align:center;padding: 20px; font-weight:600;letter-spacing: 0px;}
.pricing-table ul {
    border-left: solid 1px #e5e4e4;
    border-right: solid 1px #e5e4e4;
    border-bottom: solid 1px #e5e4e4;
	background: #fff;
}
.pricing-table.style2 .pricing-header {
    height: inherit;
    background: none !important;
}
.pricing-table.style2 .title {
    display: block;
    width: 100%;
   background: none !important;
    
    margin-bottom: 15px;
    text-align: center;
    margin-left: inherit;
}
.pricing-table.style2 .title h3 {
    color: #161616;
    font-size: 18px;
}
.pricing-table.style2 ul{padding:20px 10px;}
.pricing-table.style2 ul li {
padding:10px 0px;
  border-top: 0;
text-align: inherit;
padding-left: 26px;
background: url(../images/icon.png) no-repeat 2% 61% !important;
    font-size: 14px;
}

.pricing-table.style2 .order {
padding: 21px;
    text-align: center;
    margin-left: inherit;
   background: none !important;
}
.pricing-table .btn {
    background-color: #44aa0c;
padding: 10px 30px;
color: #fff;font-size:18px;
    border-radius: 0px;
}
.pricing-table .btn:hover{background:#fd9301}
.our i{color:#bcbcbc; font-weight:400;}
.wrapper7 .nav-tabs > li.active > a{
    color: #fff;
    cursor: default;
    background-color: #fd9301;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
	min-height: 85px;
	/*text-align:center;*/
	
}
.nav-tabs>li>a{border:none !important;}
.nav-tabs>li>a{border-radius:0}
.nav-tabs{border:none; margin:0px auto}
.nav-tabs > li > a,.nav-tabs > li > a:hover, .nav-tabs > li.active > a:focus {
   color: #fff;
    cursor: default;
    background-color: #717171;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
	min-height: 85px;
	/*text-align:center;*/
	cursor:pointer;
}
.tab-content > .tab-pane {
    
    border: none !important;
}
.wrapper8{background:#ffca08;  padding: 20px;}
.our{background:#fff;padding: 26px;font-size: 18px;    padding: 20px;
}
h2{color:#000; text-align:center;padding: 12px;    font-size: 50px; font-weight:bold; font-family: 'MyriadProBoldCondensed'; text-transform:uppercase;}
.wrapper8 p {
    color: rgba(0, 0, 0, 0.41);
    text-align: center;
    padding: 11px 114px;
font-size: 18px;
font-family: 'MyriadProRegular';
text-transform:uppercase;
font-weight:300
	
}
.arrow{margin-left:20px;}
.immg{margin-top:10px;}
.immg h3{ color:#000; float:left;font-size: 18px; padding-top:20px;}

.immg span{color:#fff; padding:0px;text-align: none !important; float:right;margin-right: 31px; margin-top: 20px;font-size: 14px;}
.wrapper9{background:url(../images/back6.png) no-repeat top center; background-size:cover; padding:20px  0px; background-attachment:fixed;}
.wrapper9 h2 {
    color: #696969;
   /* background: #e7e9ee;*/
    text-align: center;
    padding: 12px;
	text-transform: uppercase;
	font-weight: bold;
}
.wrapper9 p {
    color: #696969;
   /* background: #e7e9ee;*/
    text-align: center;
    padding: 11px 114px;
font-size: 18px;
	
}
.pass{text-align:center;}
   input{ padding: 11px 10px 10px 10px ;
    border: 2px solid #ccc!important;
    color: #000!important;
	margin-top:10px;
	width:100%;
}
.form-control{height:41px;}
.wrapper9 textarea{ padding: 11px 60px 10px 10px ;
    border: 2px solid #ccc!important;
    color: #000!important;
	margin-top:10px;
	width:100%;
	font-size:14px;
}
.wid_pad{float:none; margin:0px auto}
.wrapper10 h3{ border-bottom:1px solid #ccc;}
.form-group{margin:0px;}



#wrapper4{ padding:20px 0px;    background: #f5f5f5;}
.footer_menu h4{font-size:20px; font-weight:700; color:#545454; padding:7px 3px 12px;border-bottom: 1px #e9e9e9 solid;margin-bottom: 10px;}
.footer_menu ul li{background:url(../images/ser.png) 0% 50% no-repeat; padding:3px 20px;}
.footer_menu ul li a{ text-decoration:none; font-size:15px; font-weight:400; color:#707782; }
.footer_menu ul li a:hover{color:#d6cca5}

.footer_menu1 h4{font-size:20px; font-weight:700; color:#545454; padding:7px 3px 12px;border-bottom: 1px #e9e9e9 solid;margin-bottom: 10px;}
.footer_menu1 ul{float:left; width:62%;}
.footer_menu1 ul li{background:url(../images/ser.png) 0% 50% no-repeat; padding:3px 20px;}
.footer_menu1 ul li a{ text-decoration:none; font-size:15px; font-weight:400; color:#707782;}
.footer_menu1 ul li a:hover{color:#d6cca5}
.ul1{width:73% !important}
.footer_menu p{font-size:14px; font-weight:400; color:#707782; padding:7px 3px 12px;    text-align: justify; }
.footer_menu .form-group{margin:0px 0px 6px}
.footer_menu button.btn.btn-default{background:#dd3333; border-color:#a80707; color:#FFFFFF; text-transform:uppercase; font-weight:700;}
.footer_menu button.btn.btn-default:hover{background:#047306; border-color:#025a04}
.footer_menu .form-horizontal{padding:10px 0px 0px}
/*---- social icons start -----*/
.social_icon1 {margin-top:3px;padding-top:4px;}
.social_icon1 ul {padding:0px;}
.social_icon1 ul li {display:inline-block;padding-left:2px;text-align:center; background:none; padding:3px 2px;}
.social_icon1 ul li a {display:block;width:25px;height:34px;font-size:20px;color:#c4c4c4;text-align:center;line-height:20px;padding-top:0px; margin:0px 0px; }
.social_icon1 ul li a.facebook{}
.social_icon1 ul li a.google{}
.social_icon1 ul li a:hover {text-decoration:none;color:#000;}
.social_icon1 ul li a.facebook:hover {color:#24a8f3;}
.social_icon1 ul li a.twitter{color:#c4c4c4; }
.social_icon1 ul li a.twitter:hover {color:#eb8e08;}
.social_icon1 ul li a.linkedin{ color:#c4c4c4;}
.social_icon1 ul li a.linkedin:hover {color:#ff7e00;}
.social_icon1 ul li a.pinterest{color:#c4c4c4}
.social_icon1 ul li a.pinterest:hover {color:#dd3333; }
.social_icon1 ul li a.camera{color:#c4c4c4}
.social_icon1 ul li a.camera:hover {color:#dd3333; padding-left: 20px;}
.social_icon1 ul li a.envelope{color:#c4c4c4}
.social_icon1 ul li a.envelope:hover {color:#000; }
.add{background:url(../images/add.png) no-repeat  2% 16%  !important;padding-left: 20px;font-size: 14px !important;padding: 0px 20px 0px 31px  !important;}
.wrapper10 .email{background:url(../images/mll.png) no-repeat  2% 57%  !important;padding-left: 20px;font-size: 14px !important; padding:0px  20px 0px 31px  !important;}
.phonne {background:url(../images/phone.png) no-repeat  2% 16%  !important;padding-left: 20px;font-size: 14px !important;padding:0px  20px 0px 31px  !important;}
.footer_menu h5{font-size:16px;margin-left: 8px;font-weight:bold;    margin-top: 32px;}
.wrapper12{ background:#e5e5e5; padding:10px; text-align:center;}

.wpcf7 textarea  {
  height: 100px;
}
.wrapper2 .nav>li>a {
 
    padding: 23px 25px !important;
	    outline: none;
}
.wrapper2  .navbar-nav > li .active{
    background: #ff9933 !important;
    color: #fff!important;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    width: 33%;	
	
   
}


.bx-wrapper{max-width:100% !important;}
.bx-wrapper .bx-viewport {
    -moz-box-shadow:none !important;
    -webkit-box-shadow: none !important;
     box-shadow:none !important;
    border:none !important;
    /* left: -5px; */
        background: transparent !important; }
.wrapper8 .slide{    width: 374px !important; }
/************************************/
.carousel-control,.carousel-control:hover, .carousel-control:focus{display:none;}

.bx-viewport{height:auto !important;}
/* Carousel Fading slide */
.main-slider .carousel-fade .carousel-inner { background:url(../images/slider.png) no-repeat top center; background-size: cover }
.main-slider .carousel-fade .carousel-control { z-index: 2; }  
.main-slider .carousel-fade .item {opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;}
.main-slider .carousel-fade .next.left,
.main-slider .carousel-fade .prev.right,
.main-slider .carousel-fade .item.active { opacity: 1; }
.main-slider .carousel-fade .active.left,
.main-slider .carousel-fade .active.right {left:0;opacity:0;z-index:1;}


/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
.main-slider .carousel-fade .carousel-inner > .item.next,
.main-slider .carousel-fade .carousel-inner > .item.active.right {opacity:0;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.main-slider .carousel-fade .carousel-inner > .item.prev,
.main-slider .carousel-fade .carousel-inner > .item.active.left {opacity:0;-webkit-transform:ranslate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.main-slider.carousel-fade .carousel-inner > .item.next.left,
.main-slider.carousel-fade .carousel-inner > .item.prev.right,
.main-slider.carousel-fade .carousel-inner > .item.active {opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
}
/* Carousel Control custom */
.main-slider .carousel-control .control-icon {font-size:48px;height:30px;margin-top:-15px;width:30px;display:inline-block;position:absolute;top:50%;z-index:5;}
.main-slider .carousel-control .prev { margin-left:  -15px;  left: 50%; } /* Prev */
.main-slider .carousel-control .next { margin-right: -15px; right: 50%; } /* Next */


/* Removing BS background */
.main-slider .carousel .control-box { opacity: 0; }
.main-slider a.carousel-control.left  { left: 0; background: none; border: 0;}
.main-slider a.carousel-control.right { right: 0; background: none; border: 0;}


/* Animation */
.main-slider .control-box, a.carousel-control, .carousel-indicators li {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;   
  /* hardware acceleration causes Bootstrap carousel controlbox margin error in webkit */
  /* Assigning animation to indicator li will make slides flicker */
  } 


/* Hover animation */
.main-slider .carousel:hover .control-box { opacity: 1; }
.main-slider .carousel:hover a.carousel-control.left { left: 15px; }
.main-slider .carousel:hover a.carousel-control.right { right: 15px; }  


/* Carouse Indicator */
.main-slider .carousel-indicators li.active,
.main-slider .carousel-indicators li { border: 0; }

.main-slider .carousel-indicators li {
  background: #666;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  }

.main-slider .carousel-indicators li.active {
  background: #fff;
  margin: 0 3px;
  }
.main-slider .carousel-caption{bottom:0px; top:20%;}
.main-slider h1{font-size:85px; font-weight:bold; color:#2a2a2a;  font-family: 'MyriadProRegular';}
.main-slider h4{font-size:23px; color:#2a2a2a;}
.main-slider .carousel-caption{text-shadow:none;}
.main-slider .btn{font-size:22px;}

.top_marg{min-height:85px}
#wrapper14{padding:10px;}
#top_mid{background:url(../images/topbg.png) no-repeat top center,#FFF; }
.med_text{text-align:center; padding:40px 0px 20px 0px}
.med_text h1{font-family: 'MyriadProBoldCondensed'; font-size:53px;}
.med_text h2{color:#d71635; font-size:60px; margin:0px 0px; padding:0px}
.med_text P{color:#585757; font-size:20px; margin:0px 0px; padding:0px}
.top_form{background:rgba(255,255,255,0.8); box-shadow:0px 0px 1px #CCCCC; width:70%; margin:0px auto 40px; padding:0px 0px 30px 0px}
.top_form h3{color:#d71635; text-align:center; font-family: 'MyriadProRegular'; font-weight:600; font-size:31px; padding:20px 0px}
.top_form .form-group{background:#ffca08; padding:20px 0px; margin:0px 0px 10px 0px; position:relative}
.top_form input{margin-top:0px; text-align:center; border:none !important}
.top_form .form-control{border:none; box-shadow:none; height:45px; font-size:16px; border-radius:0px}
.top_form  label{text-align:center; display:block; font-size:16px}
.aro{position:absolute; bottom:-11px; right:0px; left:0px;}
.aro img{margin:0px auto}
.center-box{width:91%; margin:0px auto; display:block; float:none}
.top_form option{text-align:center;}
.border_img img{margin:30px auto 0px}
.border_img p{text-align:center; padding:10px 0px; font-size:14px; color:#8d8d8d;}
.form_btn img{margin:0px auto}
#shipping{background:#ebf0f4; padding:10px 0px 40px 0px}
#shipping th{text-align:center; font-size:20px; text-transform:uppercase}
#shipping td{text-align:center; font-size:16px; padding:10px 0px}
#shipping table{background:#e91638}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{border-color:#d11432; color:#FFF}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th{background:#ebf0f4; color:#999999}
.text_ship h3{text-align:center; font-size:45px; text-transform:uppercase; color:#000000; padding:20px 0px;font-family: 'MyriadProBoldCondensed'; }
.back1{background:#c21430}
.table_text{background:#FFF; padding:40px 30px 20px 30px; position:relative}
.sample img{margin:0px auto}
.sample{position:absolute; top:-21px; left:0px; right:0px;}
.table{margin-bottom:0px;}

.table_text1 img{margin:10px auto 10px;}
.table_text1{position:relative; background:#FFF; margin:30px 0px; padding:60px 0px 10px 0px; text-align:center; font-size:16px;}
#registe-new{padding:20px;}
#registe-new .form-group {
    margin-bottom: 15px;
}

#registe-new .control-label {
    padding-top: 19px;
    margin-bottom: 0;
    text-align: right;
}
#registe-new h2{color: #000;
    text-align: center;
    /*padding: 12px;*/
    font-size: 50px;
    font-weight: bold;
    font-family: 'MyriadProBoldCondensed';
    text-transform: uppercase;
    /*padding-left: 131px;*/
    /* border-bottom: 1px solid #eee; */
    margin-bottom: 30px;}

/*************************/
@media (max-width: 991px) {

 textarea{ padding: 11px 246px 10px 10px ;}		

}
@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 768px) and (max-width: 991px) {
.wrapper7 .nav-tabs > li > a{min-height:104px;}
.wrapper7 .nav-tabs > li.active > a{min-height:104px;}
.top_marg{min-height:104px}
}
@media (max-width: 767px) {
 textarea{ padding: 11px 41% 10px 10px ;}
 .main-slider h4{font-size:16px;}
.main-slider .bnnt{margin-top:8px; font-size:16px;}
 #wrapper3{height:300px}
  #wrapper6{height:300px}
 .main-slider h1{font-size:30px;}
 .social{display:none}
 .tect .txt{display:none}
  .tect{height:40px;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{border:none !important}
.wrapper7 .nav-tabs > li > a{min-height:104px; padding:20px 0px 0px}
.top_marg{min-height:104px}
.wrapper7 .nav-tabs > li.active > a{min-height:104px}
}

@media (max-width: 479px) {
.wrapper8 p {
    padding: 0px ;
   
}
.wrapper3 h1 {
    font-size: 33px;}
.wrapper3 h4 {
    font-size: 17px;
}
.wrapper9 p {
    padding: 0px ;
   
}
.immg span {
   
    margin-right: 164px;
   
}
input {
    padding: 9px 151px 10px 10px !important;}
textarea {
    padding: 9px 151px 10px 10px !important;}
	.wrapper7 .nav-tabs > li > a {
 
    font-size: 16px;}
.wrapper7 .nav-tabs > li > a{min-height:104px;}
.top_marg{min-height:104px}

}


#login-modal .modal-dialog {
    width: 500px;
}

#login-modal input[type=text], input[type=password] {
	margin-top: 10px;
}


#img_logo {
    max-height: 100px;
    max-width: 100px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    position: absolute;
    top: -11px;
    right: -9px;
    background: #fff;
    opacity: 1;
    border-radius: 50%;
    padding: 10px;
}

